body {
 background-color: #000000;
}

.white {
  color: #fff;
}

.login-box {
  padding: 20px;
  padding-bottom: 10px;
  background-color: #1F2831;
  border: 1px solid #393E45;
  color: #00A1D3;
  box-shadow: 0px 0px 1px #00A1D3;
}

.login-box > span > button {
  font-size: 15px;
  border: 1px solid #00A1D3;
  color: #fff;
  border-radius: 3px;
  background-color: #00A1D3;
  width: 49%;
}

.login-box > span > button:hover {
  font-size: 15px;
  border: 1px solid #00A1D3;
  color: #fff;
  border-radius: 3px;
  background-color: #00A1D3;
}
